<!-- Vendor JS Files -->
<script src="{{ request.url_for('static', path='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ request.url_for('static', path='vendor/php-email-form/validate.js') }}"></script>
<script src="{{ request.url_for('static', path='vendor/aos/aos.js') }}"></script>
<script src="{{ request.url_for('static', path='vendor/waypoints/noframework.waypoints.js') }}"></script>
<script src="{{ request.url_for('static', path='vendor/purecounter/purecounter_vanilla.js') }}"></script>
<script src="{{ request.url_for('static', path='vendor/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ request.url_for('static', path='vendor/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ request.url_for('static', path='vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ request.url_for('static', path='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>

<!-- Main JS File -->
<script src="{{ request.url_for('static', path='js/main.js') }}"></script>
